@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
      position:fixed;
      top: 0; 
      left: 0;
      bottom: 0;
      background: #4328eb;
      width: 100%;
      padding-top: 40px;
      transform: translateX(-100%);
      will-change: transform;
}
.navList{
      padding:100px 70px 200px 70px;
}
.nav-items{
    font-size: 40px; 
    list-style: none;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;

}